@model TestMe.Models.TestQuestion

@{
    ViewData["Title"] = "Create";
}

<h2>Add new test question</h2>

<h4>@Model.Test.TestName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <textarea asp-for="QuestionText" rows="8" cols="70"></textarea>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TestId" value="@Model.TestId">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCode" /> @Html.DisplayNameFor(model => model.IsCode)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.TestId">Back to questions</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
