
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Test management";
}
@if (User.IsInRole("Admin"))
{
    <h2>Administration</h2>
}
@if (User.IsInRole("Moderator"))
{
    <h2>Moderation</h2>
}
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_AdminNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts{
    <script>
        const amount = @ViewBag.AjaxTakeAmount;
    </script>
    <script src="~/js/jquery.sortElements.js"></script>
    <script type="text/javascript" src="~/js/adminPanelScript.js"></script>
}

