@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Test management";
}

<h2>Administration</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_AdminNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

