@model IEnumerable<UsersRecordViewModel>
@{
    Layout = "/Views/Admin/Layouts/_UsersRecordLayout.cshtml";
    ViewData["Title"] = "UsersRecord";
}
<div class="container-fluid">
    <div class="col-xs-12">
        <h2>UsersRecord</h2>
    </div>
    <div class="col-xs-12">
        
    </div>


