@model TestMe.Models.TestAnswer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h3>@Model.AnswerText</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnswerText" class="control-label"></label>
                <input asp-for="AnswerText" class="form-control" />
                <span asp-validation-for="AnswerText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TestQuestionId" value="@Model.TestQuestion.TestId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.TestQuestionId">Back to answers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
