.icon-Teacher:before {
    content: "\e900";
    color: #fff;
    font-size: 140px;
}

.icon-Student:before {
    content: "\e901";
    color: #fff;
    font-size: 140px;
}

.no-padding {
    padding: 0 !important;
}

html, body {
    height: 100%;
}

.container-main {
    background-image: url("../img/Vector3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.left-side-container {
    padding-top: 2%;
}

#header_logo {
    font-family: RalewaySemiBold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px; /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    color: #222B8B;
}

.main-left-block > a {
    padding-top: 6%;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px; /* identical to box height */
    /*	text-align: center;*/
    letter-spacing: 0.05em;
    color: #294486;
    display: block;
}

.titletext {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #222B8B;
    display: block;
    padding-bottom: 5%;
}

.text {
    font-family: RalewaySemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    display: block;
    color: #222B8B;
}

.right-side-container > .titletext {
    font-family: RalewaySemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;
    padding-top: 15%;
    color: #FFFFFF;
    text-align: center;
}

.choose_role {
    text-align: center;
}

.role > button {
    background: none;
    border: 0;
    outline: 0;
    padding: 10%;
}

.role span {
    color: #fff;
    text-align: center;
}

.role > button:hover {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 2px;
    border: 0;
    outline: 0;
}

    .role > button:hover span {
        color: #294486;
    }

        .role > button:hover span:before {
            color: #294486;
        }

.white-color {
    color: #ffffff;
}

.left-modal, .right-modal {
    text-align: center;
    padding-top: 5%;
}

.modal-body, .modal-content {
    border-radius: 14px;
    border: 0;
    background: linear-gradient(to right, #294486 0%, #294486 45%, #FFFFFF 45%, #FFFFFF 100%);
}
/* MEDIA SCREEN SM
background: linear-gradient(to bottom, #294486 0%, #294486 40%, #FFFFFF 40%, #FFFFFF 100%);*/
.register-hello {
    font-family: RalewaySemiBold;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 19px; /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    color: #222B8B;
}

.register {
    text-align: left;
}

    .register label {
        font-family: RalewaySemiBold;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        /*	text-align: center;*/
        letter-spacing: 0.05em;
        padding: 5px;
        color: #000000;
    }

    .register > div {
        padding-top: 7%;
    }

    .register input {
        background: #ECF5F8;
        border-radius: 2px;
        border: 0;
        outline: 0;
        padding: 5px 10px;
        /*padding:9%;*/
    }

#Register {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px; /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    padding: 8px 20px;
    color: #FFFFFF;
    background: #294486;
    border-radius: 2px;
    border: 0;
}

.register > .padding-top {
    padding-top: 15%;
}

.padding-top-5 {
    padding-top: 5% !important;
}

.padding-top-15 {
    padding-top: 15% !important;
}

.padding-bottom {
    padding-bottom: 5% !important;
}

.padding-bottom-5 {
    padding-bottom: 5% !important;
}

#rememberStudent, #rememberTeacher {
    cursor: pointer;
    width: 15px;
    margin: 0;
    border: 1px solid #294486;
    box-sizing: border-box;
    border-radius: 2px;
}

.register .label_for_remember {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #294486;
}

#left-side-user {
    background: #294486;
    color: #fff;
}
