/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.isCorrectText{
    margin: 0;
}
.incorrectAnsw{
    color: red;
}
.correctAnsw{
    color: green;
}
#questionBlock {
    min-height: 700px;
}
#questions{
    margin-top: 50px;
}
#questions > div > button{
    width: 100%;
}
#userName {
    position: fixed;
    z-index: 10001;
    width: 280px;
    height: 170px;
    left: calc(50% - 140px);
    top: calc(50% - 85px);
    background-color: white;
    border-radius: 20px;
}
#userNameField {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
#userNameLabel{
    margin-top: 10px;
}
/*#userNameButton {
    margin-top: 20px;
}*/
#backGround {
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
}
#navButtons button{
    margin-top: 15px;
}
#questions > div > button
{
    margin-top: 10px;
}
.errorMessage{
    color: red;
    text-align:center;
}
.questionAnswer
{
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
#ImageName[hidden] {
    display: none !important;
}

#filterDropdown{
    padding:20px;
    width: 300px !important;
}
#resetFilterButton {
    /*margin-top: 20px;*/
}
.testAnswersDropDown
{
    padding: 10px;
}
.testAnswersDropDown tr th
{
    padding-left: 10px;
}
.testAnswersDropDown tr td {
    padding-left: 10px;
    min-height: 30px;
}
.dropdown-toggle{
    cursor: pointer;
}